<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lecteur Radio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="search-container">
    <input type="text" id="search" placeholder="Rechercher une radio...">
  </div>

  <div id="radio-list">
    <!-- Radios seront ajoutées dynamiquement -->
  </div>
  <footer id="lazy-footer"><!-- Lazy load scroll --></footer>
  <div class="controls">
    <div class="now-playing-wrapper">
      <div class="now-playing" id="now-playing">
        <img id="now-playing-img" src="" alt="" style="display: none"/>
        <span id="now-playing-title">Aucune lecture en cour</span>
      </div>
      <div id='button_control' style="display: none">
        <button id="pause_resume" >⏸️</button>
      </div>
    </div>
  </div>
  
  <script src="{{ url_for('static', filename='js/dyn_page.js') }}"></script>
  <script src="{{ url_for('static', filename='js/radio_system.js') }}"></script>
  
</body>
</html>