<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lecteur Radio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="search-container">
    <input type="text" id="search" placeholder="Rechercher une radio...">
  </div>

  <div id="radio-list">
    <!-- Radios seront ajoutées dynamiquement -->
  </div>
  <footer id="lazy-footer"></footer>
  <div class="controls">
    <button id="pause-all">Pause</button>
  </div>
  
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>